<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>

      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
    <body text="red">
	    <strong>
	    I'm {{ state }} and my IPs are: {{ ansible_all_ipv4_addresses }}
	    </strong>
   </body>
</html>
